// Colors
$mainColor: white;
$accentColor: #bc9cff;
$accentGradColor: #8ba4f9;
$accentSecondColor: #6fcf97;
$accentSecondGradColor: #66d2ea;
$contentColor: #1f2041;

// Gradients
$accentGradient: linear-gradient(
  180deg,
  $accentColor 0%,
  $accentGradColor 100%
);
$accentSecondGradient: linear-gradient(
  180deg,
  $accentSecondColor 0%,
  $accentSecondGradColor 100%
);

// font-family
$font-family: Montserrat, Arial, sans-serif;
