@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/montserrat/montserrat-regular.woff');
  src: url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'),
    url('../fonts/montserrat/montserrat-regular.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/montserrat/montserrat-bold.woff');
  src: url('../fonts/montserrat/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat/montserrat-bold.ttf') format('truetype'),
    url('../fonts/montserrat/montserrat-bold.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Quicksand/Quicksand-Regular.woff');
  src: url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
    url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'),
    url('../fonts/Quicksand/Quicksand-Regular.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Quicksand/Quicksand-Bold.woff');
  src: url('../fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
    url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'),
    url('../fonts/Quicksand/Quicksand-Bold.svg#webfont') format('svg');
}
