mixin checkboxList({ items })
  ul.checkbox-list
    each item in items
      -
        const { label, title, isChecked } = item;
        const labelSpanClass = title
          ? 'checkbox-list__label-text checkbox-list__label-text_with-title'
          : 'checkbox-list__label-text';

      li.checkbox-list__item
        label.checkbox-list__label
          if title
            p.checkbox-list__title= title
          input.checkbox-list__input(type='checkbox', checked=isChecked)
          span(class=labelSpanClass)= label
