@import 'utils/normolize';
@import 'utils/variables.scss';
@import '../fonts/fonts.scss';

/* stylelint-disable */
html,
body {
  height: 100%;
}

html {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  color: $contentColor;
  background-color: #ffffff;
}
/* stylelint-enable */

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.ui-kit-wrap {
  padding-top: 30px;
  padding-left: 30px;
}

.content {
  flex-grow: 1;
}
