.rate-btn {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__star {
    margin-right: 4px;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../../components/rate-btn/img/star.svg') no-repeat;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background: url('../../components/rate-btn/img/star-active.svg') no-repeat;
    }
  }
}
